html {
	font-size: 10px;
}

body {
	* {
		box-sizing: border-box;
		font-family: 'Noto Sans KR', sans-serif;
		color: inherit;
		font-size: inherit;
	}
	img { vertical-align: middle; }

	&, html, .wrap { min-height: 100vh; }
}