{
	"presets": [ "@babel/preset-env" ], 
	"plugins": [
		["@babel/plugin-transform-runtime"], 
		["module-resolver", {
			"root": ["./fe/src"], 
			"alias": {
				"@root": "./fe/", 
				"@webpack": "./fe/webpack"
			}
		}]
	]
}